@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
    font-family: 'Roboto';
}
aside {
}
footer {
    background-color: darkgray;
   
}
h1 {
    color: black;
    font-size: 3rem;
}
header {
    background-color: lightgray;
  
}
main {}

.hidden {
    display:none;
    /*visibility: hidden;*/
} 
    
}

  .nav {
        color: white;
        font-weight: 700;
        text-decoration: none;
    }

ul {
    list-style-type: none;
        color: black;
        font-weight: 400;
        text-decoration: none; 
}
small {
    font-size: .8rem;
}
.nav{
        color: black;
        font-weight: 700;
        text-decoration: none;
}
 ul li a{
    color: black;
    text-decoration: none;
}
ul{
    color:black;   
}
li{
    color: black;
}

    }
.logo {
    font-size: 24px;
    text-decoration: none;
}
.accounts {
    border-radius: 5px;
    border: 1px purple;
}
    .accounts {
        font-weight: 700;
        text-decoration: none;
        
    }
    .row{
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1

    width: 1000px;
    }
.bold {
  font-weight:bold;
} 
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}    
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

body{
    background: url("images/flower.jpg");

     background-repeat: no-repeat;
    background-attachment: scroll;
}
img {
    display: block;
    margin-left: 25%;
    margin-right: auto;

}
div.background {
  background: url("images/flower.jpg") repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); 
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
/*.button-container{
    width:150px;
}
*/
